body{
    background-color: rgba(236, 216, 198, .4);
}






header{
  padding:15px;
  border-radius: 10px;
  
  color:#616161;
  text-align: center;
}
nav{
    text-align: center;

}
