*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

img.logo{
    z-index: 999;
    padding-top: 1.5ex;
    padding-bottom: 1ex;
}

body{
    color: #fff;
    font-family: PlusJakartaSans, sans-serif;
    font-size: 2,5ex;
    background-color: #24252A;
}

h2{
    font-size: 4ex;
    color:#fff;
    text-align: left;
    margin: 1ex;
}

ul{
    list-style: none;
    background: #24252A;
    position: relative;
}

ul li{
    display: inline-block;
    position: relative;
    padding-top: 2.5ex;
    padding-bottom: 2.5ex;
    padding-right: 2ex;
    padding-left: 2ex;
}


ul li a{
    display: block;
    padding: 2ex 2,5ex;
    color: #fff;
    text-decoration: none;
    text-align: center;
}



ul li ul.dropdown li{
    display: block;
    font-size: 3,5ex;
}

ul li ul.dropdown{
    width: 100%;
    background: #24252A;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover{
    color: rgba(0, 136, 169, 1);
}

ul li a.button:hover{
    color:#fff;
}

h3:hover{
    color: rgba(0, 136, 169, 1);
}

ul li:hover ul.dropdown{
    display: block;
    background: #24252A;
}

ul.about_list{
    display: flex;
    flex-direction: column;
    font-size: 3.5ex;
    padding-right: 1ex;
    float: right;
    border-radius: 1ex;
    margin-bottom: 1ex;
}

ul.about_list li{
    padding-top: 1ex;
    padding-bottom: 1ex;    
}

p{
    position: relative;
    text-indent: 5ex;
    font-size: 4ex;
    color: #fff;
    float: right;
    margin: 1ex;
}

img {
    float: left;
    border-radius: 1ex;
    border: 0,5ex solid white;
    margin-right: 1,5ex;
    position: relative;
    margin-left: 1ex;
    margin-top: 1ex;
}

img.first{
    width: 450;
    height: 350;
}

b{
    color:rgba(0, 136, 169, 1);
}

h3.button{
    text-align: right;
    background-color: rgba(0, 136, 169, 1);
    border-radius: 1ex;
    padding: 1ex 2ex;
    margin-left: 0;
    display: inline-block;
}

h3.button a{
    text-decoration: none;
}

h3.button:hover{
    background-color: rgba(0, 135, 169, 0.781);
}

ul.nav li{
    color:#fff;
}

h3{
    color:#fff;
    font-size: 4ex;
}

ul.footer li a{
    margin-right: 1ex;
    font: 1ex;
    color:#fff;
}

ul.footer li:hover{
    color:rgba(0, 136, 169, 1);
}

ul.footer li a:hover{
    color: rgba(0, 136, 169, 1);
}

footer{
    margin-top: 85ex;
}

