*{
    padding: 0;
    margin: 0;
    font-family: serif;
}

img.logo{
    z-index: 999;
    padding-top: 1.5ex;
    padding-bottom: 1ex;
}

body{
    color: #616161;
    font-family: PlusJakartaSans, sans-serif;
    font-size: 2,5ex;
    background-color: rgba(236, 216, 198, .4);
}

h2{
    font-size: 4ex;
    color:#5c5757;
    text-align: center;
}

ul{
    list-style: none;
    background: rgba(236, 216, 198, .4);
    position: relative;
}

ul li{
    display: inline-block;
    position: relative;
    padding-top: 2.5ex;
    padding-bottom: 2.5ex;
    padding-right: 2ex;
    padding-left: 2ex;
}


ul li a{
    display: block;
    padding: 2ex 2,5ex;
    color: #454141;
    text-decoration: none;
    text-align: center;
}



ul li ul.dropdown li{
    display: block;
    font-size: 3,5ex;
}

ul li ul.dropdown{
    width: 100%;
    background: rgba(241, 208, 179, 0.4);
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover{
    color: #966f49;
}

h3:hover{
    color: #966f49;
}

ul li:hover ul.dropdown{
    display: block;
    background: rgba(236, 216, 198, .4);
}

ul.about_list{
    display: flex;
    flex-direction: column;
    font-size: 4ex;
    float: right;
}

ul.about_list li{
    padding-top: 1ex;
    padding-bottom: 1ex;    
}



p{
    position: relative;
    text-indent: 5ex;
    font-size: 4ex;
    float: right;
}

img {
    float: left;
    border-radius: 1ex;
    border: 0,5ex solid white;
    margin-right: 1,5ex;
    position: relative;
    margin-left: 1ex;
    margin-top: 1ex;
}

h3.button{
    text-align: right;
    background-color: #113975;
    border-radius: 1ex;
    padding: 1ex 2ex;
    margin-left: 0;
    display: inline-block;
}

h3.button a{
    text-decoration: none;
    color: #fff;
}

h3.button a:hover{
    color:black
}

h3{
    color:#454141;
    font-size: 4ex;
}